name: Build and Deploy

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Nix
              uses: cachix/install-nix-action@v26

            - name: Build site
              run: nix build

            - name: Deploy to Cloudflare Pages
              uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  accountId: ${{ secrets.CF_ACCOUNT_ID }}
                  command: pages deploy "result" --project-name=nathanjgill --branch=${{ github.head_ref }} --commit-dirty=true
                  gitHubToken: ${{ secrets.GITHUB_TOKEN }}
