name: Build and Deploy

on:
    push:
        branches:
            - main

jobs:
    build-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Install Rust
              uses: actions-rs/toolchain@v1
              with:
                  toolchain: stable
                  profile: minimal
                  override: true

            - name: Install Tars
              run: cargo install tars-bin

            - name: Build site
              run: tars build

            - name: Deploy to Cloudflare Pages
              uses: cloudflare/wrangler-action@v3
              with:
                  apiToken: ${{ secrets.CF_API_TOKEN }}
                  accountId: ${{ secrets.CF_ACCOUNT_ID }}
                  command: pages deploy "build" --project-name=${{ secrets.CF_PROJECT_NAME }}
                  gitHubToken: ${{ secrets.GITHUB_TOKEN }}
